/* Design and Colors */
/* Get Google fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Lusitana:400,700);
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'IM Fell English', serif; */
/* font-family: 'Lusitana', serif;*/

/* color testing
http://colorschemedesigner.com/#2811Tq1lCw0w0
http://colorschemedesigner.com/#1462esPpUw0w0
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: #8ea61f;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

a:hover {
  color: #d54e21;
  text-decoration: none;
}

/* Typography
================================= */
.header-font-sans-serif h1,
.header-font-sans-serif h2,
.header-font-sans-serif h3,
.header-font-sans-serif h4,
.header-font-sans-serif h5,
.header-font-sans-serif h6 {
  font-family: 'Open Sans', sans-serif;
}

.header-font-serif h1,
.header-font-serif h2,
.header-font-serif h3,
.header-font-serif h4,
.header-font-serif h5,
.header-font-serif h6 {
  font-family: Lusitana, serif;
}

/* Defaults */
#main-menu li li a,
#main-menu li li a:link,
#main-menu li li a:visited {
  background-color: #152d43;
}

#main-menu li li a:hover,
#main-menu li li a:active {
  background: #01152a;
}

.date-in-parts {
  background: #8ea61f;
}

.sidebar .block > h2 {
  background: #8ea61f;
  box-shadow: -2px 2px 11px rgba(50, 50, 50, 0.41);
  -webkit-box-shadow: -2px 2px 11px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: -2px 2px 11px rgba(50, 50, 50, 0.41);
}

#bottom {
  background: #4e4554;
}

#copyright {
  background: #3e3742;
}

.form-submit {
  background-color: #ccc;
  color: #333;
}

.form-submit:hover {
  background: #454444;
}

/* Color Palettes*/

/* Green Bamboo */
.color-palette-green-bamboo a {
  color: #8ea61f;
}

.color-palette-green-bamboo a:hover {
  color: #666;
}

.color-palette-green-bamboo .sidebar .block > h2,
.color-palette-green-bamboo .date-in-parts,
.color-palette-green-bamboo nav#main-menu ul li li a {
  /* ie10 consumer preview */
  background-image: -ms-linear-gradient(bottom, #a6bb47 0%, #7e8e34 100%);

  /* mozilla firefox */
  background-image: -moz-linear-gradient(bottom, #a6bb47 0%, #7e8e34 100%);

  /* opera */
  background-image: -o-linear-gradient(bottom, #a6bb47 0%, #7e8e34 100%);

  /* webkit (safari/chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a6bb47), color-stop(1, #7e8e34));

  /* webkit (chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #a6bb47 0%, #7e8e34 100%);

  /* w3c markup, ie10 release preview */
  background-image: linear-gradient(to top, #a6bb47 0%, #7e8e34 100%);
}

.color-palette-green-bamboo h1,
.color-palette-green-bamboo h2,
.color-palette-green-bamboo h3,
.color-palette-green-bamboo h4,
.color-palette-green-bamboo h5,
.color-palette-green-bamboo h6 {
  color: #8ea61f;
}

.color-palette-green-bamboo pre,
.color-palette-green-bamboo code {
  background: #d2df95;
}

.color-palette-green-bamboo input[type="submit"] {
  background: #96a940;
  color: #fff;
}

.color-palette-green-bamboo input[type="submit"]:hover {
  background: #999;
}


/* Dark Rust */
.color-palette-dark-rust a {
  color: #b54617;
}

.color-palette-dark-rust a:hover {
  color: #666;
}

.color-palette-dark-rust .sidebar .block > h2,
.color-palette-dark-rust .date-in-parts,
.color-palette-dark-rust nav#main-menu ul li li a {
  /* ie10 consumer preview */
  background-image: -ms-linear-gradient(bottom, #ce4c14 0%, #a7461c 100%);

  /* mozilla firefox */
  background-image: -moz-linear-gradient(bottom, #ce4c14 0%, #a7461c 100%);

  /* opera */
  background-image: -o-linear-gradient(bottom, #ce4c14 0%, #a7461c 100%);

  /* webkit (safari/chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ce4c14), color-stop(1, #a7461c));

  /* webkit (chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #ce4c14 0%, #a7461c 100%);

  /* w3c markup, ie10 release preview */
  background-image: linear-gradient(to top, #ce4c14 0%, #a7461c 100%);
}

.color-palette-dark-rust h1,
.color-palette-dark-rust h2,
.color-palette-dark-rust h3,
.color-palette-dark-rust h4,
.color-palette-dark-rust h5,
.color-palette-dark-rust h6 {
  color: #b54617;
}

.color-palette-dark-rust pre,
.color-palette-dark-rust code {
  background: #b54617;
}

.color-palette-dark-rust blockquote,
.color-palette-dark-rust q {
  background: #dedede url("../images/quote-turq.png") no-repeat;
}

.color-palette-dark-rust input[type="submit"] {
  background: #ca5d2f;
  color: #fff;
}

.color-palette-dark-rust input[type="submit"]:hover {
  background: #999;
}

/* Warm Purple */
.color-palette-warm-purple a {
  color: #626584;
}

.color-palette-warm-purple a:hover {
  color: #666;
}

.color-palette-warm-purple .sidebar .block > h2,
.color-palette-warm-purple .date-in-parts,
.color-palette-warm-purple nav#main-menu ul li li a {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #626584 0%, #494C62 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #626584 0%, #494C62 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #626584 0%, #494C62 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #626584), color-stop(1, #494C62));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #626584 0%, #494C62 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #626584 0%, #494C62 100%);
}

.color-palette-warm-purple h1,
.color-palette-warm-purple h2,
.color-palette-warm-purple h3,
.color-palette-warm-purple h4,
.color-palette-warm-purple h5,
.color-palette-warm-purple h6 {
  color: #626584;
}

/* Backgrounds */

/* Fabric */
body.bg-light-fabric {
  background: url(../images/bg-fabric.png) repeat fixed;
}

/* Cloth */
body.bg-light-cloth {
  background: url(../images/bg-cloth.png) repeat fixed;
}

/* Medium Gray */
body.bg-med-gray {
  background: #949494;
}

/* Dark Linen */
body.bg-dark-linen {
  background: url(../images/bg-dark-linen.png) repeat fixed;
}

body.bg-tiles {
  background: url("../images/bg-tiles.png") repeat fixed;
}

body.bg-retro {
  background: url("../images/bg-retro.png") repeat fixed;
}

body.bg-dark-linen #colophon {
  /* ie10 consumer preview */
  background-image: -ms-linear-gradient(bottom, #cfcfcf 0%, #9c9c9c 100%);

  /* mozilla firefox */
  background-image: -moz-linear-gradient(bottom, #cfcfcf 0%, #9c9c9c 100%);

  /* opera */
  background-image: -o-linear-gradient(bottom, #cfcfcf 0%, #9c9c9c 100%);

  /* webkit (safari/chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cfcfcf), color-stop(1, #9c9c9c));

  /* webkit (chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #cfcfcf 0%, #9c9c9c 100%);

  /* w3c markup, ie10 release preview */
  background-image: linear-gradient(to top, #cfcfcf 0%, #9c9c9c 100%);
}

body.bg-dark-linen #colophon p,
body.bg-dark-linen #colophon li {
  color: #333;
}
