/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  display: block;
  max-width: 100%;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  zoom: 1;
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides > li {
  position: relative;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
  position: relative;
  zoom: 1;
}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
  background: url(../images/trans.png);
}

.flex-caption {
  background: rgba(f, f, f, .3);
  bottom: 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  line-height: 22px;
  margin: 0;
  padding: 2% 2%;
  position: absolute;
  width: 96%;
}

.flex-caption h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}

.flex-caption p {
  margin: 0;
}

/* Direction Nav */
.flex-direction-nav {
  height: 0;
}

.flex-direction-nav li a {
  background: url(../images/directionbg.png) no-repeat;
  bottom: 20px;
  cursor: pointer;
  display: block;
  height: 32px;
  margin: -16px 0 0;
  position: absolute;
  text-indent: -999em;
  width: 32px;
}

.flex-direction-nav li .next {
  background-position: -32px 0;
  right: 20px;
}

.flex-direction-nav li .prev {
  right: 60px;
}

.flex-direction-nav li .disabled {
  cursor: default;
  filter: alpha(opacity = 30);
  opacity: .3;
}

/* Control Nav */
.flex-control-nav {
  bottom: -30px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.flex-control-nav li {
  *display: inline;
  display: inline-block;
  margin: 0 0 0 5px;
  zoom: 1;
}

.flex-control-nav li:first-child {
  margin: 0;
}

.flex-control-nav li a {
  background: url(../images/bg_control_nav.png) no-repeat;
  cursor: pointer;
  display: block;
  height: 13px;
  text-indent: -999em;
  width: 13px;
}

.flex-control-nav li a:hover {
  background-position: 0 -13px;
}

.flex-control-nav li a.active {
  background-position: 0 -26px;
  cursor: default;
}
