/**
 * @file
 * IE 8 Style hacks.
 * A note about PIE: PIE must have absolute paths for PIE.php
 * so there is a chance you may need to alter the path for your particular site.
 * e.g. as below, /sites/all/libraries/PIE/PIE.php
 */


/* PIE elements */

/* Uncomment the below lines to use CSS3 features / PIE for IE8
 * Be sure to read the theme documentation on how to install and use PIE
 */

/*.date-in-parts,
#content-wrapper,
#head,
footer,
nav#main-menu ul li li.last a,
aside h2 {
  behavior: url(/sites/all/libraries/PIE/PIE.php);
  position: relative;
}*/

.field-type-image img {
  float: right;
  margin-left: 6px;
}
